## Python Basic Concepts
* **Variable**
    * An identifier that holds/stores any type of data that varies/changes with in a program/module.
    * **Rules for eclaring an identifier are:** 
        * name must start from **English alphabet**(upper/lower) or **Underscore**(_)
        * Number allowed but not at first character position.
        * Special symbols **(:'",<>/?|\()!@#$%^&*~-+)**  are not allowed except **Underscore**
        * Keywords are not allowed to use as a variable name
        * Spaces are not allowed. For readability purpose use **Underscore or use camel case** like Product_name or ProductName

* **Constant**
    * An identifier that hold/store/represent contant values/ do not varies with in a program/module
* **Value Assignment to a variable**
    * Use single **equal (=)** symbol like **Product_ID=23032** 
    
* **Escape Sequence** are specific characters followed by **backslash (\)** symbol like `\n` and `\t` for new line and tab respectively
* **Operators** are symbols represent some action.
    * **Assignment operator (=)** that assign any value to a variable like a=20
    * **Logical operators** ( >, <, ==, =<, =>)
    * **Logical operators** `and`, `or`, `not` **OR** &, |, !
    * **Arithmetic Operators** ( +, -, *,**(power), %(mod) / (results float value), // (resluts integer value) )

## Litterals- The data itself
   **Litterals are the data itself, whose values are determined by itself.** They are **Numbers** (denary&exponential), `None` and **Underscore(_)**.
    
   For example executing **23** will return 23 while executing **c** will return an **NameError**. So it's not a litteral
    because it may have number like speed of ligh or a constant in integration or a color name. Due to there multiple possibilities it's not a litteral.
    
 **Reference** [Link](https://www.netacad.com/courses/programming/pcap-programming-essentials-python)

In [1]:
123

123

In [2]:
1_2_3

123

In [3]:
4.33e3

4330.0

In [4]:
c

NameError: name 'c' is not defined

## Types of Numbers

* **Intergers**  
    * Any Positivie or Negative Whole number like **23** or **-23**
* **Floating point**
    * Any positive or negative number having **decimal point** like **2.88** or **-23.58**
    * Number in **Scientific** or **exponential (`e`)** form like speed of light is **3E8** (3 x 10 to the power 8) 
* **Octal Numbers**
    * Any positive integer number **less than 8** (0,1,2,3,4,5,6). It's represented by `0o` **(Zero-o)** following any integer number
* **Hexadecimal Numbers**
    * Include **0** to **9** and **A** to **F**, total **16** numbers. It's represented by `Xo` **(x-o)**.

<table>
<tr>
    <th>Integer</th>
    <th> Floating Point</th>
    <th> Octal Numbers</th>
    <th> Hexadecimal Numbers
</tr>

<tr>
    <td>100,23,-10,1050</td>
    <td>3.8,-6.5,5e2,2E5</td> 
    <td>0o23, 0o16</td>
    <td> 0xA2, 0xAF, 0xFF</td>

</tr>
 </table>
 
 **Reference** [Link](https://www.netacad.com/courses/programming/pcap-programming-essentials-python)

In [5]:
-34

-34

In [6]:
2.88

2.88

In [7]:
3e8

300000000.0

In [8]:
0o16

14

In [9]:
0xFF

255

## Python function
* Python latest version is **3.11.3** that has total of **71** functions
* Stable version **3.10.9** has **35** functions
* Function types are **User Defined** or **Built in** 
<br>

* **The output function(builtin) <code> print()</code>** 
    * this function is has keywrods `end` and `sep` which is used to end or separate the the string with **Pakistan** and **-** respectively
    * Here `end` and `sep` may have:
        * Special symbols
        * Any string or character

* **input() function()**
   * it takes data from user at run time
* **The `type()` function:**
    * returns the type of any argument passed

**More about Built in functions, visit** [Link](https://docs.python.org/3/library/functions.html)

In [10]:
print("Good evening, It's Hammad Ali", end='Pakistan')
print('\n')
print("Lazy", "dog??", sep='-')
print("It's you", end="\n")
print("No")

# print(sep='&', "Box and tray", "Plat and spon") # It will generate error as the argument "sep" is misplaced

Good evening, It's Hammad AliPakistan

Lazy-dog??
It's you
No

## Variable Assignment
* Single equal symbol **(=)** is used for assigning a any type of value/expression to variable

In [11]:
name= 'john'
WorkHours= 45
rate = 12.98
salary= WorkHours * rate
print("Salary is:", salary)

Salary is: 584.1

## Booleans

* As discussed earlier, Booleans (with predefined `True` and `False` displays that are just the integers **1** and **0**). It also has a placeholder object called `None`.
* its built in funciton is `bool()`

In [12]:
# Set object to be a boolean
a = True
a # show it's value

True

In [13]:
# Output is boolean
1 > 2

False

In [14]:
#the type of this variable is
type(a)

bool

## Strings

* String are text information or sequence of characters including English alphabets, numbers, special symbols and spaces.
* String can be represented using **single (' ')** or **double (" ")** qouts.
* A string can be empty
* built in function `str()`

In [15]:
"Hello! World"

'Hello! World'

In [16]:
#Epmty string
' '

' '

In [17]:
'I'm leaving now'

SyntaxError: unterminated string literal (detected at line 1) (1887839508.py, line 1)

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.


* Use the combination of double ans single quotes 
        **OR**
* Use escape sequence characters **backslash(\)** symbol like 'I\'m using phone'

In [18]:
"I'm leaving now"

"I'm leaving now"

In [19]:
'I\'m leaving now'

"I'm leaving now"

### String Properties
* **String is immutable** means once the string is defined its content can't be changed.
* **Note:** it can be changed by using **assignment** operator
* String can be **concatenated**
* Multiply the string to genereate repeated contents

In [20]:
string1= "The quick brown fox"
string2= 'Jumps over the lazy dog'

string1 +" " + string2

'The quick brown fox Jumps over the lazy dog'

In [21]:
string1 * 2

'The quick brown foxThe quick brown fox'

In [22]:
# change string1 contents using assignment operator
string1= string1 + " "+ string2

In [23]:
string1

'The quick brown fox Jumps over the lazy dog'

In [24]:
string1.upper()

'THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG'

In [25]:
string1.count("fox")

1

**For further string methods:**
* press tab button on keyboard after typing dot operator(.)
* dispy by dir() function

In [26]:
# dir(string1)

# Lists

* A container or **ordered** sequence.
* Support fast index access
* CAn hold repeated/duplicate values
* It's **mutable**. we can change any value by its index
* list contents are enclosed in `[]`separated by **commas**
* built in function for list is `list()`

In [27]:
#declare empty list
emp_list= []

In [28]:
n_list=[1,2,3,4,5,6,7,8]
n_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
#to change the 5 by 2 at index 4
n_list[4]=2
n_list

[1, 2, 3, 4, 2, 6, 7, 8]

In [30]:
odd=list([3,5,7,9,11,13,15])
odd

[3, 5, 7, 9, 11, 13, 15]

In [31]:
n_list+ odd# cocatenate both lists

[1, 2, 3, 4, 2, 6, 7, 8, 3, 5, 7, 9, 11, 13, 15]

In [32]:
type(n_list)

list

### List Indexing And Slicing
* **indexing** 
    * Means to access specific elements of list in a sequence
    * Indexes are used in brackets `[]`
    * list index start from **0** 
* **Slicing** 
    * Means to creat sub list using indexes
    * `:` are used

In [33]:
#Taking first 4 elemenet of list
# the last bound/end index is ignored. means 4 is exclusive
n_list[0:4]

[1, 2, 3, 4]

In [34]:
# taking the last element
n_list[-1]

8

### List methods

In [35]:
el=list()# empty list
el.append(3)
el.append("Score")
print(el)

[3, 'Score']

In [36]:
#To copy
list_copy= n_list.copy()
print(list_copy)

print("6 exist =", list_copy.count(6), "times")

[1, 2, 3, 4, 2, 6, 7, 8]
6 exist = 1 times

In [37]:
list_copy.extend(el)
list_copy

[1, 2, 3, 4, 2, 6, 7, 8, 3, 'Score']

In [38]:

list_copy.index(4)# index of 4

3

In [39]:
#uncomment the following to view the whole list of methods
# dir(list_copy)

## Dictionary
* Holds elements in a **key-value** association ofrm
* hold element by key not by index
* **key** and **value** is separated by colun(`:`)
* Enclosed in `{}`
* built in function is `dict()`
* General form: {'key1':'value1','key2':'value2'}

In [40]:
#empty dictionary
temp={}
temp

{}

In [41]:
# element to a dictionary
temp['a']=23
temp

{'a': 23}

In [42]:
#changing the value of key(a)
temp['a']=45
temp

{'a': 45}

In [43]:
#Player-score dictionary
player_score={'john':32, 'smit':60, 'saad':19}
player_score

{'john': 32, 'smit': 60, 'saad': 19}

In [44]:
# accessing the john's score
player_score["john"]

32

In [45]:
# the values may be a list like:
#items purchased in a week
item_dictonary= {"Monday":['sugar', 'bread', 'tea packs'], "Tuesday":['bread','eggs'], "Wednesday":['bread', 'jam','honey']}

In [46]:
# Items purchased on Monday
item_dictonary["Monday"]

['sugar', 'bread', 'tea packs']

In [47]:
#NESTING Dictionary: Dictionary may hold another dictionary
nest_dictonary={"cricket":{'john':90, 'smit':10}, 'football':{'messay':4, 'dark':0}}

In [48]:
# access the cricket team
nest_dictonary['cricket']

{'john': 90, 'smit': 10}

In [49]:
# to access the second value(smit) of first key(cricket)
nest_dictonary["cricket"]['smit']

10

In [50]:
nest_dictonary.values()#to access the values of dictionary

dict_values([{'john': 90, 'smit': 10}, {'messay': 4, 'dark': 0}])

In [51]:
nest_dictonary.keys()# keys

dict_keys(['cricket', 'football'])

In [52]:
# dir(nest_dictonary)

## Sets
* Unorder collection of **Unique** elements
* Use `{}` symbols
* it is mutable
* built in funciton is `set()`

In [53]:
a=set()# empty set 
type(a)

set

In [54]:
st = {"apple", "banana", "cherry"}
st

{'apple', 'banana', 'cherry'}

In [55]:
st.add("mangos")
st

{'apple', 'banana', 'cherry', 'mangos'}

In [56]:
st.pop()
st

{'banana', 'cherry', 'mangos'}

In [57]:
st.remove('mangos')
st

{'banana', 'cherry'}

In [58]:
# dir(st)

## Tuples
* tuples are immutable(can not change its values)
* tuple elements are separated by `,` and enclosed in `()`

* **When?**: Use tuple when the elemenets needed to be unchanged
* bulit in function is `tuple()`

In [59]:
players=("John", "Smit","Dark")

In [60]:
players

('John', 'Smit', 'Dark')

In [61]:
# access the Dark
players[2]

'Dark'

In [62]:
type(players)

tuple

In [63]:
wdays=set(['Wed', 'Sun', 'Fri', 'Tue', 'Mon', 'Thu', 'Sat'])

In [64]:
type(wdays)

set

In [65]:
wdays.union(players)# take all elements from both sets and return in an order form

{'Dark', 'Fri', 'John', 'Mon', 'Sat', 'Smit', 'Sun', 'Thu', 'Tue', 'Wed'}

In [66]:
# dir(wdays)

## Summary of built in data types

* **int()** (for integer)
* **float()** (for float type
* **str()** (for string)
* **list()** (for list)
* **tuple()** (for creating tuple)
* **dict()** (for dictionary)
* **set()**   (for declaring set type)
* **bool()** (for Boolean True/False)

# Tips
* **`help`** function is used to show the documentation of any function in python. 
* Alternative method is using question mark **?** at the end of function. this will disply results in a pop up
* To access the source code use double question marks **??**. it will only disply the source code of the funcitons that are defined in python.Other functions defined in c will not be displayed

In [67]:
n_list??

In [68]:
from platform import python_version
python_version()
import keyword

In [69]:
keyword??